mixin pagination
   
    .pagination
        span.pagination__title.pagination__title--bold PAGINATION
        form.pagination__form
            .pages
            .variables-arend 1 – 12 из 100+ вариантов аренды
          


            
