mixin pagination(params)
   
   
    if (params.title)
        span.pagination__title--bold= params.title
    

 

    .pagination
        span.pagination__title.pagination__title--bold 
        form.pagination__form
            .pages
            if (params.titleRentVariation)
                .pagination__variables-rent= params.titleRentVariation
            .pagination__variables-rent 
          


            
