mixin pagination
    - var title = "pagination"
    - var titleRentVariation = "1 – 12 из 100+ вариантов аренды"

    .pagination
        span.pagination__title.pagination__title--bold #{title}
        form.pagination__form
            .pages
            .pagination__variables-rent #{titleRentVariation}
          


            
