mixin pagination(params)
   
   
    +input-container({title: params.title, titleSecond: params.titleSecond})

    

 

        .pagination
            form.pagination__form
                .pages
                if (params.titleRentVariation)
                    .pagination__variables-rent= params.titleRentVariation
                .pagination__variables-rent 
          


            
