mixin rich-checkbox-buttons(params)
   
   
    if (params.title)
        span.checkbox-buttons-rich__title--bold= params.title


    
    .checkbox-buttons-rich
        span.checkbox-buttons-rich__title.checkbox-buttons-rich__title--bold 
        form.checkbox-buttons-rich__form 
            label.checkbox-buttons-rich__container Широкий коридор
                input.checkbox-buttons-rich__input(type="checkbox" checked)
                span.checkbox-buttons-rich__checkmark.checkbox-buttons-rich__frist-checkmark   
                .checkbox-buttons-rich__text Ширина коридоров в номере не менее 91 см.
            label.checkbox-buttons-rich__container.checkbox-buttons-rich__second-container Помощник для инвалидов
                input.checkbox-buttons-rich__input(type="checkbox" checked) 
                span.checkbox-buttons-rich__checkmark 
                .checkbox-buttons-rich__text На 1 этаже вас встретит специалист и проводит до номера