@import '../../assets/mixinsAndMixes.scss';
$checkbox-width: 20px;

.checkbox-buttons-rich {

    @include body;

    &__title {

        &--bold {
          text-transform: uppercase;
            @include h3;
            font-weight: bold;
        }
    }
     
    &__container {
      width: max-content;
      display: flex;
      flex-direction: column;
      position: relative;
      padding-top: 1.05rem;
      padding-left: 1.9rem;
      cursor: pointer;  
      font-weight: bold; 
      font-size: 0.83rem;   
      letter-spacing: 0.03rem;
      gap: 0.45rem;
        &:first-child {
          width: 12rem;
        }
    }

         /* Hide the browser's default checkbox */
    &__container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    &__checkmark {
      position: absolute;
      left: 0;
      height: 1.15rem;
      width: 1.15rem;
      top: 0.7rem;
      border: 1px solid $darkshade50;
      border-radius: 5px;
    }

    &__frist-checkmark {
      top: 0.9rem;
    }  
    
    /* When the checkbox is checked, add a blue background */
    &__container input:checked ~ &__checkmark {
      border-color: $purple;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    &__checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    &__container input:checked ~ &__checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    &__container &__checkmark:after {
      font-family: 'material icons';
      content: 'done';
      font-size: 0.7rem;
      color: $purple;
      top: 0.25rem;
      left: 0.25rem;
    }

    &__text {
      @include body;
      font-weight: normal;
    }

    &__second-container {
      top: -0.15rem;
      justify-self: unset;
      padding-top: 0.85rem;
      width: 14rem;
    }

   }