mixin rate-button

    -var title = "rate button"
   
    .rate-button
        span.rate-button__title.rate-button__title--bold #{title}
        form.rate-button__form
                input#rating-5(type='radio' name='rating')
                label(for='rating-5')
                input#rating-4(type='radio' name='rating' checked)
                label(for='rating-4')
                input#rating-3(type='radio' name='rating')
                label(for='rating-3')
                input#rating-2(type='radio' name='rating')
                label(for='rating-2')
                input#rating-1(type='radio' name='rating')
                label(for='rating-1')
        form.rate-button__form.rate-button__form--second
                input#rating-10(type='radio' name='rating' checked)
                label(for='rating-10')
                input#rating-9(type='radio' name='rating' )
                label(for='rating-9')
                input#rating-8(type='radio' name='rating')
                label(for='rating-8')
                input#rating-7(type='radio' name='rating')
                label(for='rating-7')
                input#rating-6(type='radio' name='rating')
                label(for='rating-6')


                
      



            
