@import '../../assets/mixinsAndMixes.scss';

.rate-button {
    @include body;
    position: relative;
    &__title {
      
        &--bold {
            text-transform: uppercase;
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    }
    
    &__form {
        
      margin-top: 1.3rem;
      margin-left: 0.5rem;
      direction: rtl;
      width: 7rem;
        
    } 

    &__form > input {
        display: none;
    }

    &__form > label {
        cursor: pointer;
        background:url('../../assets/images/star_border.jpg') no-repeat center;
        padding: 0.2rem 0.75rem;
    }

    &__form > input:checked ~ label {
        background:url('../../assets/images/star.jpg') no-repeat center;
    }

    &__form--second {
        position: absolute;
        top: 0.9rem;
        left: 8.8rem;
    }
  
}    
