@import '../../assets/mixinsAndMixes.scss';

.rate-button {
   
    
    &__title {
      
        &--bold {
            @include h3;
        }
    }
    
    &__form {
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        width: max-content;
        margin: 0;
    } 

    .star {
        cursor: pointer;
      }
  
      .star:before {
        font-family: "Material Icons";
        font-weight: 400;
        content: "star_border";
        font-size: 1.5rem;
        background: $purpleGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: initial;
      }
      .star_active:before, .star_active ~ .star:before {
        content:"star";
      }
  }    
