@import '../../assets/mixinsAndMixes.scss';

.rate-button {
    @include body;
    position: relative;
    &__title {
      
        &--bold {
            @include h3;
        }
    }
    
    &__form {
        
      direction: rtl;
      width: 8rem;
        
    } 

    &__form > input {
        display: none;
    }

    &__form > label,
    &__form > input:checked ~ label {
        position: relative;
        cursor: pointer;
        padding: 0rem 0.75rem;

        &::after {
            position: absolute;
            content: 'star_outline';
            font-family: 'material icons';
            background: $purpleGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: initial;
            font-size: 1.5rem;
        }
    }

    &__form > input:checked ~ label {

        &::after {
            content: 'star';
       }
    }
  }    
