mixin rate-button(params, start, rate)
   
   
    +input-container({title: params.title, titleSecond: params.titleSecond})


   
            .rate-button
                form.rate-button__form
                    - for (var i = stars; i > 0; --i) {
                    if i===rate
                        .star_active.star 
                    else
                        .star
                    -}
                                


                
      



            
