mixin radio-buttons(params)
   
    - let {buttons} = params
    - let {title} = params

   
    .radio-buttons
        span.radio-buttons__title.radio-buttons__title--bold #{title}
        form.radio-buttons__form
            each val in buttons
                label.radio-buttons__container
                    span.radio-buttons__span-text= val.title
                    input(type="radio" name="radio" checked=val.checked)
                    span.radio-buttons__checkmark
