mixin radio-buttons
   
    .radio-buttons
        span.radio-buttons__title.radio-buttons__title--bold RADIO BUTTONS
        form.radio-buttons__form
            label.container Мужчина
                input(type='radio' name="radio" checked='checked')
                span.checkmark
            label.container.container--women Женщина
                input(type='radio' name="radio") 
                span.checkmark
