@import '../../assets/mixinsAndMixes.scss';

.radio-buttons {

    @include body;

    &__title {
      
        &--bold {
          text-transform: uppercase;
            @include h3;
        }
    }

&__form {
  display: flex;
  gap: 1.25rem;
}

/* Customize the label (the container) */
&__container {    
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  &__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__span-text {
    @include body;
    margin-left: 1.9rem;
  }
  
  /* Create a custom radio button */
  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.15rem;
    height: 1.15rem;
    // background-color: rgb(100, 99, 99);
    border-radius: 50%;
    border: 1px solid $purple
  }
   
  /* Create the indicator (the dot/circle - hidden when not checked) */
  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  &__container input:checked ~ &__checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  &__container &__checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $purpleGradient;
  }

}