mixin radio-buttons(params)
    +input-container({title: params.title, titleSecond: params.titleSecond})

   
        - let {buttons} = params

    
        .radio-buttons
            form.radio-buttons__form
                each val in buttons
                    label.radio-buttons__container
                        span.radio-buttons__span-text= val.title
                        input(type="radio" name="radio" checked=val.checked)
                        span.radio-buttons__checkmark
