mixin radio-buttons(params)
   
   
    if (params.title)
        .radio-buttons__title--bold= params.title

   
    .radio-buttons
        span.radio-buttons__title.radio-buttons__title--bold 
        form.radio-buttons__form
            label.radio-buttons__container Мужчина
                input(type="radio" name="radio" checked)
                span.radio-buttons__checkmark
            label.radio-buttons__container.radio-buttons__container--women Женщина
                input(type="radio" name="radio") 
                span.radio-buttons__checkmark
