mixin dropdown-rooms
       
    .dropdown-rooms
        span.dropdown-rooms__title.dropdown-rooms__title--bold DROPDOWN
        span.dropdown-rooms__title.dropdown-rooms__title--comment DEFAULT
        form.dropdown-rooms__form
            .iqdropdown
                p.iqdropdown-selection
                .iqdropdown-menu
                    .iqdropdown-menu-option(id='item1')
                    .iqdropdown__category.iqdropdown__category--adults  
                        p.iqdropdown-item СПАЛЬНИ
                    .iqdropdown-menu-option(id='item2')
                    .iqdropdown__category.iqdropdown__category--chidlren
                        p.iqdropdown-item КРОВАТИ
                    .iqdropdown-menu-option(id='item3')
                    .iqdropdown__category.iqdropdown__category--infant
                        p.iqdropdown-item ВАННЫЕ КОМНАТЫ 

mixin dropdown-rooms--expanded
                   
    .dropdown-rooms.dropdown-rooms--expanded
        span.dropdown-rooms__title.dropdown-rooms__title--bold DROPDOWN
        span.dropdown-rooms__title.dropdown-rooms__title--comment EXPADED
        form.dropdown-rooms__form
            .iqdropdown
                p.iqdropdown-selection
                .iqdropdown-menu
                    .iqdropdown-menu-option(id='item1')
                    .iqdropdown__category.iqdropdown__category--adults  
                        p.iqdropdown-item СПАЛЬНИ
                    .iqdropdown-menu-option(id='item2')
                    .iqdropdown__category.iqdropdown__category--chidlren
                        p.iqdropdown-item КРОВАТИ
                    .iqdropdown-menu-option(id='item3')
                    .iqdropdown__category.iqdropdown__category--infant
                        p.iqdropdown-item ВАННЫЕ КОМНАТЫ 
