@import '../../assets/mixinsAndMixes.scss';

.like-button {
  margin-top: 3rem;
    @include body;
    
    &__title {
      
        &--bold {
            text-transform: uppercase;
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    }
    
    &__form {
      margin-top: 0.95rem;
    } 

    &__dislike {
      cursor: pointer;
      @include body;
      font-size: 0.6rem;
      background:url('../../assets/images/Group 3.jpg') no-repeat center;
      border: none;
      height: 1.25rem;
      width: 2.5rem;
      text-align: end;
    }

    &__dislike--liked {
      background:url('../../assets/images/Group 4.jpg') no-repeat center;
     }

    &__like-span {
    margin-left: 0.68rem;
    }

    &__like {
      cursor: pointer;
      @include body;
      color: $purple;
      font-size: 0.6rem;
      background:url('../../assets/images/Group 4.jpg') no-repeat center;
      border: none;
      height: 1.25rem;
      width: 2.5rem;
      text-align: end;
      }        
         
      &__like--disliked {
      background:url('../../assets/images/Group 3.jpg') no-repeat center;
      } 

      &__dislike:focus,
      &__like:focus {
        opacity: 1;
      }
    
    }

    

  