mixin like-button

    -var title = "like button"
   
    .like-button
        span.like-button__title.like-button__title--bold #{title}
        form.like-button__form
            button.like-button__dislike.js-like-button__dislike 2
            span.like-button__like-span
            button.like-button__like.js-like-button__like 12
          
