mixin like-button
   
    .like-button
        span.like-button__title.like-button__title--bold LIKE BUTTON
        form.like-button__form
            #rating
                button.like(type='button' ) 
                    span.material-icons-outlined.firstIcon favorite_border
                    span.likes 2
                button.dislike.active(type='button' ) 
                    span.material-icons-outlined.secondIcon favorite
                    span.dislikes 12



            
