mixin like-button(params)

    +input-container({title: params.title, titleSecond: params.titleSecond})

   
   
    


   
        .like-button
            form.like-button__form
                
                button(type="button").like-button__like.js-like-button__like 
                    span.like-button__span-favorite favorite
                    span.like-button__count 12

            
