@import '../../assets/mixinsAndMixes.scss';

.like-button {
    @include body;
    
    &__title {
      
        &--bold {
            text-transform: uppercase;
            @include h3;
        }
    }
    
     &__like {
      display: flex;
      cursor: pointer;
      align-items: center;
      gap: 0.4rem;
      background: white;
      border: 1px solid $purple;
      border-radius: 1rem;
      width: 2.5rem;
      &--disliked {
        border-color:  $darkshade25;
      }
      }         
 
      &__count{
        @include body;
        line-height: 0;
        color: $purple;
        font-size: 0.6rem;
        padding: 0.5rem 0;

        &--disliked {
          color: $darkshade25;
        }
      }
     
      &__span-favorite {
        background: $purpleGradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: initial;
        font-family: 'material icons';
        font-weight: normal;
        font-size: 0.6rem;

        &--disliked {
          background: white;
          -webkit-background-clip:border-box;
          -webkit-text-fill-color: $darkshade25;
        }
      }

      &__like:focus {
        opacity: 1;
      }
    
    }

    

  