mixin like-button(params)
   
   
    if (params.title)
        span.like-button__title--bold= params.title


   
    .like-button
        span.like-button__title.like-button__title--bold 
        form.like-button__form
            button(type="button").like-button__like.js-like-button__like 12
          
