@import '../../plugins/air-datepicker/air-datepicker';
@import '../../assets/mixinsAndMixes.scss';

.date-dropdown  {

    @include body;

    &__title {
        
        &--bold {
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
        &--boldSecond {
            @include h3;
            margin-left: 3.5rem;
            font-weight: bold;
        }
    }
    
}

.one {
    position: relative;
}

.datepicker {
    margin-top: 30.9rem;
    
}

#start_one, #end_one {
    cursor: pointer;
    margin-top: 0.1rem;
    @include field;
    width: 7.5rem;
}

#end_one {
    margin-left: 1.4rem;
}

.one::after {
    cursor: pointer;
    position: absolute;
    font-family: 'material icons';
    content: 'expand_more';
    color: $darkshade50;
    font-size: 1.3rem;
    left: 18rem;
    top: 0.85rem;
}

.one::before {
    cursor: pointer;
    position: absolute;
    font-family: 'material icons';
    content: 'expand_more';
    color: $darkshade50;
    font-size: 1.3rem;
    left: 7.3rem;
    top: 0.85rem;
}

#start_one::placeholder,
 #end_one::placeholder {
    color: $darkshade25
}

#start_one:hover, :focus::placeholder  {
    border-color: $darkshade50;
    
}

#end_one:hover, :focus::placeholder  {
    border-color: $darkshade50;
    
}