@import '../../plugins/air-datepicker/air-datepicker';
@import '../../assets/mixinsAndMixes.scss';

.date-dropdown  {

    @include body;

    &__title {
        
        &--bold {
            text-transform: uppercase;
            @include h3;
        }
        &--boldSecond {
            text-transform: uppercase;
            @include h3;
            margin-left: 6rem;
        }
    }
    
}

.one {
    position: relative;
    display: flex;
    gap: 1.25rem;
}

.datepicker {
    margin-top: 30.9rem;
}

#start_one, #end_one {
    cursor: pointer;
    margin-top: 0.25rem;
    @include field;
    width: 9.4rem;
}

#end_one {

    width: 9.35rem;
}

.one::after,
.one::before {
    cursor: pointer;
    position: absolute;
    font-family: 'material icons';
    content: 'expand_more';
    color: $darkshade50;
    font-size: 1.3rem;
    left: 17.95rem;
    top: 1rem;
    text-transform: lowercase;
    font-weight: normal;
}

.one::before {
    left: 7.35rem;
}

#start_one::placeholder,
 #end_one::placeholder {
    color: $darkshade25
}

#start_one:hover, :focus::placeholder  {
    border-color: $darkshade50;
    
}

#end_one:hover, :focus::placeholder  {
    border-color: $darkshade50;
    
}