mixin date-dropdown(params)

  if (params.title)
      span.date-dropdown__title--bold= params.title
  if (params.titleSecond)
      span.date-dropdown__title--boldSecond= params.titleSecond

        span.date-dropdown__title.date-dropdown__title--bold 
        span.date-dropdown__title.date-dropdown__title--boldSecond 
        form.date-dropdown__form
          .one
            input#start_one.datepicker-here(type="text" data-range="true" data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ")
            input#end_one(type="text" placeholder="19.08.2021")
            button.datepickerButton.apply ПРИМЕНИТЬ