mixin date-dropdown(params)

  - let {title} = params
  - let {titleSecond} = params
  
        span.date-dropdown__title.date-dropdown__title--bold #{title}
        span.date-dropdown__title.date-dropdown__title--boldSecond #{titleSecond} 
        form.date-dropdown__form
          .one
            input#start_one.datepicker-here(type="text" data-range="true" data-multiple-dates-separator=" - " placeholder="ДД.ММ.ГГГГ")
            input#end_one(type="text" placeholder="19.08.2021")
            button.datepickerButton.apply ПРИМЕНИТЬ