head
  doctype html
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  meta(name='description' content='Rizzoma learning web-site')
  meta(name='keywords' content='PUG, SCSS, JavaScript')
  script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
  script(src='https://code.jquery.com/ui/1.13.0/jquery-ui.min.js' integrity='sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=' crossorigin='anonymous')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.4/jquery.simplePagination.min.js")
  html(lang="pl" dir="ltr" class="index")
    block head
      title



body   

  main.main 
    block main     