@import '../../assets/mixinsAndMixes.scss';

.log-in-card{

    box-shadow: 0 0 10px 0.1rem $darkshade25;
    border-radius: 3px;
    width: 20rem;
    padding-left: 1.8rem;
    padding-top: 2.45rem;
    padding-bottom: 1.15rem;
    padding-right: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    

    &__title {
        @include h1;
    }

    &__log-in {
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
    }

    &__button {
        margin-top: 0.2rem;
    }
    &__sign-in {
        display: flex;
        align-items: baseline;
    }

    &__sign-in-span {
        @include body;
        flex-grow: 1;
    }

 
}
