@import '../../assets/mixinsAndMixes.scss';

.buttons {
    @include body;
    &__title {
      
        &--bold {
          text-transform: uppercase;
            @include h3;
            font-weight: bold;
        }
    }

    &__button {
      @include h3;
      text-transform: uppercase;
      height: 2.74rem;
      width: 6.2rem;
      border-radius: 2rem;
      cursor: pointer;
      border: none;

    &--fill {
      color: white;
      background: $purpleGradient;
        
        &:hover 
         {
                opacity: 0.5;
        }

        &:focus 
        {
              transition: 0.1s;
               opacity: 1;
       }
    }
    
    &--counter {
      position: relative;
      color: $purple;
      background: white;
      height: 2.5rem;
      width: 6rem;

        &::before {
        content: "";
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        border-radius: inherit;
        background: $purpleGradient ;
        z-index: -1;
        }


        &:hover 
         {
          &::before {
            opacity: 0.5;
            }    
        }

        &:focus  {
          transition: 0.1s;
          opacity: 1;  
              
       }
    
      
    }

    &--no-border {
      color: $purple;
      background:none;

      &:hover, 
      &:focus {
        color: $darkshade50;      
      }
    }

    &--pay {
      position: relative;
      color: white;
      width: 20rem;
      background: $purpleGradient;

      &:hover 
         {
                opacity: 0.5;
        }

        &:focus 
        {
              transition: 0.1s;
               opacity: 1;
       }

      &::after {
        position: absolute;
        text-transform: lowercase;
        font-family: 'material icons';
        font-size: 1.35rem;
        font-weight: normal;
        content: 'arrow_forward';
        top: 0.7rem;
        left: 18rem;
        }
    }
  }
}



 


