mixin buttons

            .buttons
                span.buttons__title.buttons__title--bold BUTTONS
                form.buttons__form
                    button.buttons__button.buttons__button--fillButton(type='button') CLICK ME
                    button.buttons__button.buttons__button--fillButton(type='button') CLICK ME
                form.buttons__form.buttons__form--border
                    button.buttons__button.buttons__button--borderButton(type='button') CLICK ME
                    button.buttons__button.buttons__button--borderButton(type='button') CLICK ME
                form.buttons__form.buttons__form--noBorder
                    button.buttons__button.buttons__button--noBorderButton(type='button') CLICK ME
                    button.buttons__button.buttons__button--noBorderButton(type='button') CLICK ME
                form.buttons__form.buttons__form--payButton
                    button.buttons__button.buttons__button--paysButton(type='button') ПЕРЕЙТИ К ОПЛАТЕ

                  


            
