@import '../../assets/mixinsAndMixes.scss';

.buttons {
    margin-top: 2.8rem;
    @include body;
    &__title {
      
        &--bold {
          text-transform: uppercase;
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    }

    &__fill-button {
      @include h3;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 1rem;
      margin-left: 0.05rem;
      height: 2.74rem;
      width: 6.2rem;
      border: none;
      border-radius: 2rem;
      background: $purpleGradient;
    }

    &__fill-button-second {
     margin-left: 1.15rem;
    }

    &__fill-button:hover, 
    &__fill-button:focus {
           opacity: 0.5;
    }
    
    &__counter-button {
      @include h3;
      color: transparent;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 1.9rem;
      height: 2.74rem;
      width: 6.2rem;
      border: none;
      border-radius: 2rem;
      background:url('../../assets/images/Button Default.jpg') no-repeat center;
    }

    &__counter-button-second {
     margin-left: 1.2rem;
    }

    &__counter-button:hover, 
    &__counter-button:focus {
      background:url('../../assets/images/Button Hover.jpg') no-repeat center;
    }

    &__no-border-button {
      @include h3;
      color: $purple;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 1.8rem;
      border: none;
      background:none;
    }

    &__no-border-button-second {
     margin-left: 0.5rem;
    }

    &__no-border-button:hover, 
    &__no-border-button:focus {
      color: $darkshade50;
    }

    &__pay-button {
      position: relative;
      @include h3;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      margin-top: 1.79rem;
      height: 2.74rem;
      width: 20rem;
      border: none;
      border-radius: 2rem;
      background: $purpleGradient;
    }

    &__pay-button::after {
      position: absolute;
      text-transform: lowercase;
      font-family: 'material icons';
      font-size: 1.35rem;
      font-weight: normal;
      content: 'arrow_forward';
      top: 0.7rem;
      left: 17.94rem;
      }

    &__pay-button:hover, :focus {
      opacity: 0.5;
    }
}



 



