mixin buttons(params)

        - let {title} = params
        - let {buttonText} = params
        - let {theme} = params
        - let buttonClass = ['buttons__button']

        case params.theme
            when theme= "fill"
                - buttonClass.push(buttonClass + '--fill') 

            when theme= "counter's"
                - buttonClass.push(buttonClass + '--counter')

            when theme= "no-border"
                - buttonClass.push(buttonClass + '--no-border') 

            when theme= "pay"
                - buttonClass.push(buttonClass + '--pay') 


        .buttons
            span.buttons__title.buttons__title--bold #{title}
            form.buttons__form
                button(type="button" class=buttonClass) #{buttonText}
                    

                  


            
