@import '../../assets/mixinsAndMixes.scss';
.expandable_checkbox_list {
    
    position: relative;
    @include body;  

    &__details {
        width: 16rem;
    }

    &__summary {
        cursor: pointer;
        position: relative;
        list-style: none;  
        opacity: 1;
        text-transform: uppercase;
        @include h3;
        font-weight: bold;
        letter-spacing: 0.025rem;

         &::after {
            font-family: 'material icons';
            content: 'expand_more';
            position: absolute;
            text-transform: none;
            font-size: 1.35rem;
            left: 14.561rem;
            top: -0.2rem;
            color: $darkshade50;
            font-weight: normal;
      }      

    }        

    &__details[open] summary::after {
      font-family: 'material icons';
      content: 'expand_less';
      position: absolute;
      text-transform: none;
      font-size: 1.35rem;
      left: 14.561rem;
      top: -0.2rem;
      color: $darkshade50;
      font-weight: normal;
  }
  
    &__form {
        width: 16rem;
        position: absolute;
        background: white;
        margin-top: 1.15rem;
    }
  
    &__container {
        width: max-content;
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;  
        margin-bottom: 0.75rem;
        padding: 0.1rem 1.94rem;
        padding-right: 0;
        @include body;
        font-size: 0.8rem;
        letter-spacing: 0.05rem;
    }
    
    /* Hide the browser's default checkbox */
    &__container input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    &__checkmark {
      position: absolute;
      top: -0.05rem;
      left:0;
      height: 1.15rem;
      width: 1.15rem;
      border: 1px solid $darkshade50;
      border-radius: 5px;
    }
    
    /* When the checkbox is checked, add a blue background */
    &__container input:checked ~ &__checkmark {
      border-color: $purple;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    &__checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    &__container input:checked ~ &__checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    &__container &__checkmark:after {
      font-family: 'material icons';
      content: 'done';
      font-size: 0.7rem;
      color: $purple;
      top: 0.25rem;
      left: 0.25rem;
    }
  }