@import '../../assets/mixinsAndMixes.scss';
$checkbox-width: 20px;

.expandable-checkbox-list   {
   

    margin-top: 10.9rem;
    @include body;
    &__title {
            cursor: pointer;

        &--bold {
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }

        &--comment{
            margin-left: 8.2rem
        }


        &::after {
            padding-left: 3rem;
            margin-top: -0.2rem;
            font-weight: normal;
            margin-left: 0rem;
            font-size: 1.3rem;
            color: $darkshade50;
            position: absolute;
            font-family: 'material icons';
            content: 'expand_more';
        }
    }

    &__title--expandLess::after {
        padding-left: 3rem;
            margin-top: -0.2rem;
            font-weight: normal;
            margin-left: 0rem;
            font-size: 1.3rem;
            color: $darkshade50;
            position: absolute;
            font-family: 'material icons';
            content: 'expand_less';
    }

}




.form-checkbox {
    margin-top: 0.6rem;
    margin-bottom: -0.6rem;
    padding-bottom: 0rem;
}
    input[name='expandable'] {
        margin-top: 5rem;
        display: none;
        left: -9999px;
      
      
        & + label {
          @include body;
          font-size: 0.8rem;
          position: relative;
          display: inline-block;
          padding: 6px 10px 6px ($checkbox-width + 12);
          cursor: pointer;
          margin-top: 0.2rem;
      
          // Default State
          &:before {
            display: block;
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            margin: (-$checkbox-width/2) 0 0;
            width: $checkbox-width;
            height: $checkbox-width;
            background: none;
            border: 1px solid $darkshade25;
            border-radius: 4px;
          }
        }
      
        & + label[for='checkbox3'] {
            margin-top: -0.55rem; 
            padding-top: 1rem;
            
      
            
        }
      
        // Checked State
        &:checked + label {
          &:before {
              background: none;
              font-family: 'material icons';
              content: 'done';
              color: $purple;
              position: absolute;
              border-color: $purple;
              padding: 0.11rem;
          }
        }
      



    }

    
    .expandable-checkbox-list__forms--hidden {
        
        opacity: 0;
        height: 0;
        overflow: hidden
    }

    .expandable-checkbox-list__forms--visible {
        background: white;
        position: absolute;
        transition: all 0.2s;
        z-index: 100;
        opacity: 1;
        height: 12.2rem;
        
    }

    