mixin reviews(params)


        .reviews 
            .reviews__image
                span.reviews__span-image 
                .reviews__name
                    span.reviews__span-name Мурад Сарафанов
                    span.reviews__span-time 5 дней назад
            .reviews__text        
                .reviews__like
                    +like-button({title: ""})    
                span.reviews__span-text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
            

            