@import '../../assets/mixinsAndMixes.scss';

.reviews {

    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    
    @include body;
    &__image {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-left: 0.3rem;
    }

    &__span-image{
            margin-top: 0.15rem;
    }
    
    &__name {
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.6rem ;
    }

    &__span-name {
        margin-top: 0.1rem;
        @include body;
        font-weight: bold;
        font-size: 0.85rem;
        color: $darkshade75;
    }

    &__span-time {
        letter-spacing: 0.05rem;
        font-size: 0.8rem;
    }

    &__like{
       margin-left: 0.7rem;
    }

    &__text {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &__span-text {
        font-size: 0.8rem;
        letter-spacing: 0.045rem;
        line-height: 1.45rem;
        width: 41rem;
    }
}



