mixin reviews(params)

        - let {guestName} = params
        - let {time} = params
        - let {review} = params


        .reviews 
            .reviews__image
                span.reviews__span-image: img(src= params.img alt=params.guestName)
                .reviews__name
                    span.reviews__span-name #{guestName}
                    span.reviews__span-time #{time}
            .reviews__text        
                .reviews__like
                    +like-button(params)    
                span.reviews__span-text #{review}
            

            