mixin range-slider(params)
                 

            .range-slider
            
                if (params.title)
                    span.range-slider__title--bold= params.title

                span.range-slider__title.range-slider__title--bold 
                span.range-slider__lower-value 
                span.range-slider__dash -
                span.range-slider__upper-value
                form.range-slider__form
                    #nonlinear


            
