mixin range-slider

            .range-slider
                span.range-slider__title.range-slider__title--bold RANGE SLIDER
                span.range-slider__lower-value 
                span.range-slider__dash -
                span.range-slider__upper-value
                form.range-slider__form
                    #nonlinear


            
