@import '../../assets/mixinsAndMixes.scss';

.search-card{

    box-shadow: 0 0 10px 0.1rem $darkshade25;
    border-radius: 3px;
    width: 20rem;
    padding-right: 1.85rem;
    padding-left: 1.8rem;
    padding-top: 2.4rem;
    padding-bottom: 0.96rem;


    &__title {
        @include h1;

    }
    &__dates  {
        margin-top: 1.45rem;

    } 
    &__dropdown {
        margin-top: 1.35rem;

    } 

    &__button {
        margin-top: 1.95rem;
    }

}
