mixin subscription-text-field
    
    .subscription-text-field
        span.subscription-text-field__title.subscription-text-field__title--bold SUBSCRIPTION TEXT FIELD 
        form.subscription-text-field__form
            input.subscription-text-field__input(type="email" name="Email" placeholder="Email" maxlength="20" )