@import '../../assets/mixinsAndMixes.scss';


.subscription-text-field {
    position: relative;
    @include body;

    &__title {
        margin-left: 12rem;

        &--bold {
            text-transform: uppercase;
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    }

    &__input {
        margin-top: 0.3rem;
        @include field;
        color: $darkshade50;
        width: 14.87rem;
    }

    &__input::placeholder {
        color: $darkshade25
    }

    &__input:hover, :focus::placeholder  {
        border-color: $darkshade50;
    }
    
}

.subscription-text-field__button {
    cursor: pointer;
    position: absolute;
    border: none;
    background: none;
    left: 14.2rem;
    top: 1.8rem;
}

.subscription-text-field__button::after{
     font-family: "material icons";
     content: 'arrow_forward';
     color: $purple;
     font-size: 1.4rem;
 }