mixin subscription-text-field(params)
   
   
   
    
    .subscription-text-field
        if (params.title)
            span.subscription-text-field__title--bold= params.title

        span.subscription-text-field__title.subscription-text-field__title--bold
        form.subscription-text-field__form
            input.subscription-text-field__input(type="email" name="Email" placeholder="Email" maxlength="20" )
            button(type = "button").subscription-text-field__button
