@import '../../assets/mixinsAndMixes.scss';

.input-container {
    
    @include body;

    &__title {

        &--bold {
            text-transform: uppercase;

            @include h3;
            font-weight: bold;
        }

        &--secondTitle
        {
            text-transform: uppercase;
            @include body;
            font-weight: normal;
            margin-left: 12rem;
        }
        
    }

    &__input {
        margin-top: 0.31rem;
        color: $darkshade50;
    }

   
    
}