@import '../../assets/mixinsAndMixes.scss';

.input-container {
    margin: 0;
    padding: 0;
    @include body;
    width: max-content;

    &__title {

        &--bold {

            @include h3;
            letter-spacing: 0.033rem;
        }

        &--secondTitle
        {
            text-transform: uppercase;
            @include body;
            font-weight: normal;
        }
        
    }

    &__input {
            width: max-content;

        margin-top: 0.25rem;
        color: $darkshade50;
    }

   
    
}