mixin input-container(params)
    - let {title} = params
    - let {titleSecond} = params

   



    .input-container
        span.input-container__title--bold #{title}
        span.input-container__title--secondTitle  #{titleSecond}
        .input-container__input
            block