mixin dropdown-guests   
       
    .dropdown-guests
        span.dropdown-guests__title.dropdown-guests__title--bold DROPDOWN
        form.dropdown-guests__form
            .iqdropdown
                p.iqdropdown-selection
                .iqdropdown-menu
                    .iqdropdown-menu-option(id='item1')
                    .iqdropdown__category.iqdropdown__category--adults  
                        p.iqdropdown-item ВЗРОСЛЫЕ 
                    .iqdropdown-menu-option(id='item2')
                    .iqdropdown__category.iqdropdown__category--chidlren
                        p.iqdropdown-item ДЕТИ
                    .iqdropdown-menu-option(id='item3')
                    .iqdropdown__category.iqdropdown__category--infant
                        p.iqdropdown-item МЛАДЕНЦЫ 
                    button.iqdropdown-menu__button ПРИМЕНИТЬ
