@import '../../assets/mixinsAndMixes.scss';
@import '../../plugins/item-quantity-dropdown/item-quantity-dropdown';

.dropdown-guests    {

    @include body;

    &__title {
        
        &--bold {
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    }

}

.iqdropdown .iqdropdown-selection {
    @include body;
  } 



.iqdropdown  {
    margin-top: 0.259rem;
    @include field;
    height: 2.75rem;
}

.iqdropdown:hover {
    @include hover
}

.iqdropdown.menu-open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
   border-color: $darkshade50;
   border-bottom: none;
   height: 2.7rem;

}

.iqdropdown .iqdropdown-menu  {
    display: block;
    box-shadow: none;
    border: 1px solid $darkshade50;
    margin-top: -0.5rem;
    height: 9.9rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    &__button {
        position: absolute;
        @include h3;
        color: $purple;
        margin: -5.9rem 0 0 14.1rem;
    }

    &__button:hover, :focus {
      
        color: $darkshade75;
       
    }
}


#item1 {
    
    button.button-increment {
        position: absolute;
        border: 1px solid $darkshade50;
        border-radius: 50%;
        margin: -1.1rem 0 0 16.25rem;
        transform: scale(0.7);
        width: 2.75rem;
    }

    button.button-decrement {
        position: absolute;
        border: 1px solid $darkshade50;
        border-radius: 50%;
        margin: -1.1rem 0 0 12.4rem;
        transform: scale(0.7);
        width: 2.75rem;
    }   

    .counter {
        @include h3;
        position: absolute;
        border: none;
        margin: -0.9rem 0 0 14.2rem;
    }
    
}

#item2 {
    
    button.button-increment {
        position: absolute;
        border: 1px solid $darkshade50;
        border-radius: 50%;
        margin: -3.365rem 0 0 16.25rem;
        transform: scale(0.7);
        width:2.75rem;
    }

    button.button-decrement {
        position: absolute;
        border: 1px solid $darkshade50;
        border-radius: 50%;
        margin: -3.365rem 0 0 12.4rem;
        transform: scale(0.7);
        width: 2.75rem;
    }   

    .counter {
        @include h3;
        position: absolute;
        border: none;
        margin: -3.2rem 0 0 14.2rem;
    }
    
}

#item3 {
    
    button.button-increment {
        position: absolute;
        border: 1px solid $darkshade50;
        border-radius: 50%;
        margin: -5.7rem 0 0 16.25rem;
        transform: scale(0.7);
        width: 2.75rem;
    }

    button.button-decrement {
        position: absolute;
        border: 1px solid $darkshade50;
        border-radius: 50%;
        margin: -5.7rem 0 0 12.4rem;
        transform: scale(0.7);
        width: 2.75rem;
    }   

    .counter {
        @include h3;
        position: absolute;
        border: none;
        margin: -5.6rem 0 0 14.2rem;
    }
    
}

button.button-increment::after {
    font-family: "material icons";
    content: 'add';
    color: $darkshade50;
    font-size: 1rem;
    margin-left: -0.45rem;
}

button.button-decrement::after {
    font-family: "material icons";
    content: 'remove';
    color: $darkshade50;
    font-size: 1rem;
    margin-left: -0.45rem;
}

.iqdropdown::after {
    position: absolute;
    font-family: "material icons";
    content: 'expand_more';
    color: $darkshade50;
    font-size: 1.5rem;
    margin-left: 17rem;
    margin-top: -0.15rem
}

.iqdropdown-item {
    @include h3;
    font-weight: bold;
}

.iqdropdown__category--adults {
    position: absolute;
    margin: -3.9rem 0 0 1rem;
}

.iqdropdown__category--chidlren {
    position: absolute;
    margin: -6.2rem 0 0 1rem;
}

.iqdropdown__category--infant {
    position: absolute;
    margin: -8.65rem 0 0 1rem;
}


