@import '../../assets/mixinsAndMixes.scss';

.dropdown-guests    {

        @include body;

        &__title {
            
            &--bold {
                text-transform: uppercase;
                @include h3;
                margin-left: 0;
                font-weight: bold;
            }
        }
        &__form{
            position: relative;
        }

        &__form::after{
            cursor: pointer;
            position: absolute;
            font-family: 'material icons';
            content: 'expand_more';
            font-size: 1.5rem;
            top: 0.86rem;
            left: 17.85rem;
        }

        &__input {
            cursor: pointer;
            @include field;
            margin-top: 0.25rem;
        }

        &__input--opened {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;
        }

        &__input:hover,
        &__input:focus {
            @include hover
        }

        &__menu {
            display: none;
        }

        &__menu--opened {
        background: white;
        position: absolute;
        top: 2.88rem;
        padding: 0.48rem;
        text-transform: uppercase;
        border: 0.5px solid $darkshade50;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: grid;
        grid-template-columns: 13.3rem 1.85rem 1.95rem 1.85rem;
        row-gap: 0.45rem;
        vertical-align: middle;
        @include h3;
        }

        &__adults,
        &__children, 
        &__infant {
            padding: 0.4rem 0.31rem;
        }

        &__adults-button-decrease,
        &__children-button-decrease,
        &__infant-button-decrease,
        &__adults-button-increase,
        &__children-button-increase,
        &__infant-button-increase {
            cursor: pointer;
            height: 1.85rem;
            vertical-align: text-top;
            border-radius: 50% ;
            border: 1px solid $darkshade50;
            background: none;
            padding: 0.1rem 0.55rem;
            top: -1rem;
        }

        &__adults-button-decrease::after,
        &__children-button-decrease::after,
        &__infant-button-decrease::after {
            font-family: 'material icons';
            content: 'remove';
            font-size: 0.5rem;
            color: $darkshade75;                      
        }

        &__adults-count,
        &__children-count,
        &__infant-count {
            text-align: center;
            padding-top: 0.3rem;
        }

        &__adults-button-increase::after,
        &__children-button-increase::after,
        &__infant-button-increase::after {
            font-family: 'material icons';
            content: 'add';
            color: $darkshade75;
            font-size: 0.7rem;         
        }
             
        &__close-button {
            cursor: pointer;
            padding: 0.8rem 0 0.28rem 0;
            @include h3;
            text-transform: uppercase;
            color: $purple;
            background: none;
            border: none;
            grid-column-start: 2;
            grid-column-end: 5;
        }
}


