extends ../../../samples/uiKit/uiKit
include ../../../components/input-container/input-container
include ../../../components/text-field/text-field
include ../../../components/dropdown/dropdown
include ../../../components/date-dropdown/date-dropdown
include ../../../components/filter-date-dropdown/filter-date-dropdown
include ../../../components/subscription-text-field/subscription-text-field
include ../../../components/checkbox-buttons/checkbox-buttons
include ../../../components/radio-buttons/radio-buttons
include ../../../components/toggle/toggle
include ../../../components/like-button/like-button
include ../../../components/rate-button/rate-button
include ../../../components/range-slider/range-slider
include ../../../components/buttons/buttons
include ../../../components/pagination/pagination
include ../../../components/dropdown-rooms/dropdown-rooms
include ../../../components/additional-options/additional-options
include ../../../components/bullet-list/bullet-list
include ../../../components/reviews/reviews


block main

    .form-elements

        .form-elements__cell 

            .form-elements__elem
                +input-container({title: "text field", titleSecond: "default"})
                    +text-field({type: "email", placeholder: "Email"})
            .form-elements__elem.form-elements__elem--margined   
                +input-container({title: "dropdown"})        
                    +dropdown({dropdownType: "guests", placeholder: "Сколько гостей", items: ["взрослые" ,"дети","младенцы"], name:"dropdown-guests"})      
            .form-elements__elem.form-elements__elem--margined 
                +input-container({title: "masked text field"})
                    +text-field({name: "masked-text-field", mask: "date-mask"})           
            .form-elements__elem.form-elements__elem--margined
                +date-dropdown({title: "date dropdown", titleSecond: "date dropdown"})
            .form-elements__elem.form-elements__elem--margined
                +filter-date-dropdown({title: "filter date dropdown"})
            .form-elements__elem.form-elements__elem--margined
                +subscription-text-field({title: "subscription text field"})
                
        .form-elements__cell

            .form-elements__elem
                +checkbox-buttons({title: "checkbox buttons", checkboxType: "checkboxList", positions: [{title: "Можно курить", checked: false}, 
                                                                                                        {title: "Можно с питомцами", checked: true},
                                                                                                        {title: "Можно пригласить гостей (до 10 человек)", checked: true}]})
                                                                                                       
            .form-elements__elem.form-elements__elem--margined
                +radio-buttons({title: "radio buttons"})        
            .form-elements__elem.form-elements__elem--margined
                +toggle({title: "toggle"})  
            .form-elements__elem.form-elements__elem--margined
                +like-button({title: "like button"})    
            .form-elements__elem.form-elements__elem--margined
                +rate-button({title: "rate button"})

        .form-elements__cell 

            .form-elements__elem
                +range-slider({title: "range-slider"})
            .form-elements__elem.form-elements__elem--margined
                +buttons({title: "buttons"})
            .form-elements__elem.form-elements__elem--margined
                +pagination({title: "pagination", titleRentVariation: "1 – 12 из 100+ вариантов аренды"})
      
        .form-elements__cell

            .form-elements__elem.form-elements__elem--margined
                +input-container({title: "dropdown"})
                    +dropdown({dropdownType: "rooms", placeholder: "Удобства номера", name:"dropdown-rooms", items: ["спальни", 
                                                                                                                     "кровати",
                                                                                                                     "ванные комнаты"]})
            .form-elements__elem.form-elements__elem--margined
                +checkbox-buttons({title: "expandable checkbox list",  checkboxType: "checkboxExpandableList", positions:  [{title: "Завтрак", checked: false}, 
                                                                                                                            {title: "Письменный стол", checked: true},
                                                                                                                            {title: "Стул для кормления", checked: true},
                                                                                                                            {title: "Кроватка", checked: true}, 
                                                                                                                            {title: "Телевизор", checked: false},
                                                                                                                            {title: "Шампунь", checked: false}]})                                                                                                                                                                                     

        .form-elements__cell

            .form-elements__elem.form-elements__elem--margined
                +checkbox-buttons({title: "rich checkbox buttons", checkboxType: "richCheckboxButtons", positions: [{title: "Широкий коридор", text: "Ширина коридора в номере не менее 91 см.", checked: false}, 
                                                                                                                    {title: "Помощник для инвалидов", text: "На первом этаже вас встретит специалист и проводит до номера.", checked: false}]})
               
        .form-elements__cell

            .form-elements__elem.form-elements__elem--margined
                +bullet-list({title: "bullet list"})

        .form-elements__cell

            .form-elements__elem.form-elements__elem--margined
                +additional-options(params)

        .form-elements__cell

            .form-elements__elem.form-elements__elem--margined
                +reviews(params) 
                   
                
                                   
            
        
            
        
        
                 
        
            
        

            