@import '../../assets/mixinsAndMixes.scss';

.masked-text-field {

    @include body;

    &__title {
        margin-left: 12rem;

        &--bold {
            text-transform: uppercase;

            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    }

    &__input {
        margin-top: 0.3rem;
        @include field;
        color: $darkshade75
    }

    &__input::placeholder {
        color: $darkshade25
    }

    &__input:hover, :focus::placeholder  {
        border-color: $darkshade50;
    }
    
}