mixin masked-text-field
   
    .masked-text-field
        span.masked-text-field__title.masked-text-field__title--bold MASKED TEXT FIELD 
        form.masked-text-field__form
            input.masked-text-field__input(type="text"  name='masked-text-field')