mixin filter-date-dropdown(params)
   
   
    if (params.title)
        .filter-date-dropdown__title--bold= params.title

   

    span.filter-date-dropdown__title.filter-date-dropdown__title--bold 
    form.filter-date-dropdown__form
      .two
        input#start_one_filter.datepicker-here(type="text" data-range="true" data-multiple-dates-separator=" - " )