mixin filter-date-dropdown

    span.filter-date-dropdown__title.filter-date-dropdown__title--bold FILTER DATE DROPDOWN 
    form.filter-date-dropdown__form
      .two
        input#start_one_filter.datepicker-here(type='text' data-range='true' data-multiple-dates-separator=' - ' )