mixin bullet-list(params)

        +input-container({title: params.title, titleSecond: params.titleSecond})

            - let {list} = params

            
        
        
            .bullet-list
                ul.bullet-list__ul
                    each val in list
                        li!= val


            