@import '../../assets/mixinsAndMixes.scss';

.bullet-list {
    @include body;
    &__title {
      
        &--bold {
            text-transform: uppercase;
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    }

    &__ul {
        width: 15rem;
        margin-top: 0.95rem;
        display: flex;
        flex-direction: column;
        gap: 0.72rem;
        list-style: none;
        padding-left: 1.3rem;
        font-size: 0.85rem;
        line-height: 1.4rem;

    }

    &__ul > li{
        position: relative;
    }

    &__ul > li::after {
        top: 0.3rem;
        left: -1.3rem;
        position: absolute;
        content: '';
        padding: 0.32rem;
        background-color: $darkshade25;
        border-radius: 50%;
    }
}
