mixin bullet-list(params)

    - let {list} = params
    - let {title} = params

    
   
  
    .bullet-list
        span.like-button__title.like-button__title--bold #{title}
        ul.bullet-list__ul
            each val in list
                li!= val


            