mixin text-field-default(params)
   
   
   
    


    .text-field-default
        if (params.title)
            span.text-field-default__title--bold= params.title
        span.text-field-default__title.text-field-default__title--bold
        if (params.titleSecond)
            span.text-field-default__title--bold= params.titleSecond
        span.text-field-default__title--bold 
        form.text-field-default__form
            input.text-field-default__input(type="email" name="Email" placeholder="Email" maxlength="20" )