mixin text-field-default

    .text-field-default
        span.text-field-default__title.text-field-default__title--bold TEXT FIELD 
        span.text-field-default__title DEFAULT 
        form.text-field-default__form
            input.text-field-default__input(type="email" name="Email" placeholder="Email" maxlength="20" )