mixin additional-options(params)

        - let {options} = params

            //- 

            //-     case val.img
            //-         when img="smile"
            //-             - asd.innerHTML: img(src='../../assets/images/insert_emoticon.jpg')    


        .additional-options 
            each val in options
                .additional-options__option
                    span.additional-options__span-image!= val.img 
                    .additional-options-text
                        span.additional-options__span-text.additional-options__span-text--bold=val.title
                        span.additional-options__span-text= val.desc
        

            