mixin additional-options


        .additional-options 
            .additional-options__comfort
                span.additional-options__span-comfort-image
                .additional-options__comfort-text
                    span.additional-options__span-comfort-text.additional-options__span-comfort-text--bold Комфорт 
                    span.additional-options__span-comfort-text   Шумопоглощающие стены 
            .additional-options__convenience
                span.additional-options__span-convenience-image
                .additional-options__convenience-text
                    span.additional-options__span-convenience-text.additional-options__span-convenience-text--bold Удобство 
                    span.additional-options__span-convenience-text Окно в каждой из спален

            