@import '../../assets/mixinsAndMixes.scss';

.additional-options {
width: 17.4rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
   
    &__option {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 1.25rem ;
        padding-left: 0.05rem;
        border-bottom: 1px solid $darkshade5;   
        gap: 0.7rem;        
    }

   &__span-image {
       font-family: 'material icons';
       font-weight: normal;
       font-size: 3rem;
       margin-left: 0.2rem;
       margin-top: 0.2rem;
       color: $purple;
       background: $purpleGradient;
       background-clip: text;
       -webkit-text-fill-color: transparent;
}

&-text {
    display: flex;
    flex-direction: column;
    gap: 0.51rem;
    @include body;
    font-size: 0.85rem;
    margin-top: 0.5rem;
}

&__span-text--bold {
    font-weight: bold;
}
}
