mixin text-field-hoverFocus

    .text-field-hoverFocus
        span.text-field-hoverFocus__title.text-field-hoverFocus__title--bold TEXT FIELD 
        span.text-field-hoverFocus__title HOVER/FOCUS 
        form.text-field-hoverFocus__form
            input.text-field-hoverFocus__input(type="email"  placeholder="This is pretty awesome" maxlength="20" )