@import '../../assets/mixinsAndMixes.scss';

.toggle {
    @include body;
    
    &__title {
      
        &--bold {
          text-transform: uppercase;
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    
        
    }
   
  input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
  }

   label {
    margin-top: 0.2rem;
    margin-bottom: -0.1rem;
    display: block;
    width: 2.45rem;
    height: 1.15rem;
    background-color: none;
    border-radius: 100px;
    border: 1px solid $darkshade25;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
  }

  label::before {
    font-size: 0.8rem;
    content: "Получать спецпредложения";
    letter-spacing: 0.05rem;
    white-space: nowrap;
    position: absolute;
    margin-left: 3.05rem;
  }

  label::after {
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    background-color: $darkshade25;
    position: absolute;
    border-radius: 70px;
    top: 3px;
    left: 3.5px;
    transition: 0.5s;
  }

  input:checked + label:after {
    left: calc(100% - 1.5px);
    transform: translateX(-120%);
    background: $purpleGradient;
    }
    
   input:checked + label {
    background-color: none;
    border: 1px solid $purple;
    }
}
    
    


