@import '../../assets/mixinsAndMixes.scss';

.toggle {
    @include body;
    
    &__title {
      
        &--bold {
          text-transform: uppercase;
            @include h3;
            margin-left: 0;
            font-weight: bold;
        }
    }

  &__form {
    display: flex;
    align-items: center;
    gap: 0.61rem;
  }  
  /* The switch - the box around the slider */
  &__switch {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  width: 2.5rem;
}

/* Hide default HTML checkbox */
&__input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
&__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid $darkshade25;
  border-radius: 34px;
}

&__slider:before {
  position: absolute;
  content: "";
  padding: 0.37rem;
  left: 3px;
  bottom: 3px;
  background-color: $darkshade25;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

&__input:checked + &__slider {
  border: 1px solid $purple;
}

&__input:checked + &__slider:before {
  transform: translateX(20px);
  background: $purpleGradient;

}
&__desc {
  @include body;
  align-self: center;
  font-size: 0.8rem;
  letter-spacing: 0.048rem;
}

}
    
    


