mixin toggle(params)
   
   
    - let {title} = params
    - let {desc} = params

    
   
    .toggle
        span.toggle__title.toggle__title--bold 
        form.toggle__form
            label.toggle__switch
                input.toggle__input(type='checkbox')
                span.toggle__slider
            span.toggle__desc #{desc}



            
