mixin toggle(params)
   
   
    if (params.title)
        span.toggle__title.toggle__title--bold= params.title

    
   
    .toggle
        span.toggle__title.toggle__title--bold 
        form.toggle__form
            input#switch(type="checkbox" name="switch"  checked="checked")
            label(for="switch")
            input#switchSecond(type="checkbox" name="switchSecond" )
            label(for="switchSecond")


            
