mixin toggle(params)
   
    +input-container({title: params.title, titleSecond: params.titleSecond})

    - let {desc} = params

    
   
        .toggle
            form.toggle__form
                label.toggle__switch
                    input.toggle__input(type='checkbox')
                    span.toggle__slider
                span.toggle__desc #{desc}



            
