@import './assets/mixinsAndMixes';
@import './assets/fonts/fonts';




.nowrap {
    white-space: nowrap;
  }

body {
  max-width: 1920px;
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Helvetica , Arial, sans-serif, 'Material Icons';
  font-weight: normal;
}

