@import './assets/mixinsAndMixes.scss';
@import './assets/fonts/fonts.scss';

.nowrap {
    white-space: nowrap;
  }

body {
  max-width: 1920;
  min-width: 320;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Helvetica , Arial, sans-serif, 'Material Icons';
  font-weight: normal;
}
