@import '../../assets/mixinsAndMixes.scss';
$checkbox-width: 20px;

.checkbox-buttons {

    @include body;

    &__title {

        &--bold {
          text-transform: uppercase;
            @include h3;
            font-weight: bold;
        }
    }

   
    
    &__container {
      width: 12rem;
      display: block;
      position: relative;
      padding-top: 1rem;
      padding-left: 2rem;
      cursor: pointer;  
      font-size: 0.8rem;    
    }
    
    /* Hide the browser's default checkbox */
    &__container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    &__checkmark {
      position: absolute;
      left: 0;
      height: 1.2rem;
      width: 1.2rem;
      top: 1rem;
      border: 1px solid $darkshade50;
      border-radius: 5px;
    }
    
    /* When the checkbox is checked, add a blue background */
    &__container input:checked ~ &__checkmark {
      border-color: $purple;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    &__checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    &__container input:checked ~ &__checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    &__container &__checkmark:after {
      font-family: 'material icons';
      content: 'done';
      font-size: 0.7rem;
      color: $purple;
      top: 0.25rem;
      left: 0.25rem;
    }

 

  }