mixin checkbox-buttons(params)

 
    if (params.title)
        span.like-button__title--bold= params.title
    
    .checkbox-buttons
        span.checkbox-buttons__title.checkbox-buttons__title--bold 
        form.checkbox-buttons__form 
            label.checkbox-buttons__container Можно курить
                input.checkbox-buttons__input(type="checkbox" checked)
                span.checkbox-buttons__checkmark  
            label.checkbox-buttons__container Можно с питомцами
                input.checkbox-buttons__input(type="checkbox" checked) 
                span.checkbox-buttons__checkmark 
            label.checkbox-buttons__container Можно пригасить гостей (до 10 человек)
                input.checkbox-buttons__input(type="checkbox") 
                span.checkbox-buttons__checkmark