mixin expandable-checkbox-list-expand
       
    .expandable-checkbox-list-expand
                    span.expandable-checkbox-list-expand__title.expandable-checkbox-list-expand__title--bold EXPANDABLE CHECKBOX LIST
                    form.expandable-checkbox-list-expand__form
                    .expandable-checkbox-list-expand__forms
                        .form-checkbox
                            input#checkbox11(type='checkbox' name='expandable')
                            label(for='checkbox11') Завтрак
                        .form-checkbox
                            input#checkbox12(type='checkbox' checked='checked' name='expandable')
                            label(for='checkbox12') Письменный стол
                        .form-checkbox
                            input#checkbox13(type='checkbox' checked='checked'  name='expandable')
                            label(for='checkbox13') Стул для кормления
                        .form-checkbox
                            input#checkbox14(type='checkbox' checked='checked' name='expandable')
                            label(for='checkbox14') Кроватка
                        .form-checkbox
                            input#checkbox15(type='checkbox'  name='expandable')
                            label(for='checkbox15') Телевизор
                        .form-checkbox
                            input#checkbox16(type='checkbox'  name='expandable')
                            label(for='checkbox16') Шампунь


                
    
        
        
     
    


